<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>CALCULADORA - LIST</title>
     
 </head>
<body>
        <h1></h1>
        <ul class="form-style-1">
            <li><label> 
               <center> <h1>Histórico da CALCULADORA</h1></center>    
           </label></li>
        </ul>

        <table>
            <tr>
                <th>Número 1</th>
                <th>Número 2</th>
                <th>Operação</th>
                <th>Resultado</th>
                <th>Edita</th>
                <th>Deleta</th>
            </tr>
    
             <tr>
                    <td> <%=num1%> </td>
                    <td> <%=num2%></td>
                    <td> <%=operacao%></td>
                    <td> <%=resultado%> </td>
                </tr>
          
        </table>

        <%- include('../cabecalho') -%>

<style type="text/css">
    body{
        background-color: aquamarine;
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    
  #script{
      background-color: #302F2B;
  }



.form-style-1 {
     margin:10px auto;
     max-width: 400px;
     padding: 20px 12px 10px 20px;
 }

 .form-style-1 li {
     padding: 0;
     display: block;
     list-style: none;
     margin: 10px 0 0 0;
 }
 .form-style-1 label, h1{
     margin:0 0 3px 0;
     padding:0px;
     display:block;
     font-weight: bold;
     color:#075c55;
     margin-right: 0%;
     padding:2px;
     list-style: none;
     position: relative;
     border: #075c55;

 }

 h1{
     margin:0 0 3px 0;
     padding:0px;
     display:block;
     font-weight: bold;
     color:#075c55;
     margin-right: 0%;
     padding:2px;
     list-style: none;
     position: relative;
     border: #075c55;

 }

 #num1, #num2{
      color:#075c55;
 }
table{
    width: 100%;
}
 table, td, th {
            border: solid 1px #075c55;
        }
        td, th{
            padding: 20px;
        }
        th{
            font-weight: bold;
            background-color: #fff;
        }
 .form-style-1 li{
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     border:3px solid #075c55;
     padding: 7px;
     margin:0px;
     outline: none;	
     color: #075c55;
 }

 .form-style-1 input[type=text]:focus, 
 .form-style-1 input[type=number]:focus,
 .form-style-1 select:focus{
     -moz-box-shadow: 0 0 8px #075c55;
     -webkit-box-shadow: 0 0 8px #075c55;
     box-shadow: 0 0 8px #075c55;
     border: 1px solid #075c55;
 }
 .form-style-1 .field-divided{
     width: 30%;
 }
 
 .form-style-1 .field-long{
     width: 100%;
 }
 .form-style-1 .field-select{
     width: 100%;
 }
 
 .form-style-1 input[type=submit], .form-style-1 input[type=button], button{
     background: #075c55;
     padding: 8px 15px 8px 15px;
     border: none;
     color: #fff;
 }
 .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover, button:hover{
     background: #075c55;
     box-shadow:none;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
     color: #fff;
 }

 .form-style-1 input select:hover, .placeholder{
     background: #075c55;
     color: #075c55;
     box-shadow:none;
     -moz-box-shadow:none;
     -webkit-box-shadow:none;
 }
 #il{
   color: #fff;
   background-color: #075c55;
 }
 
    </style>
</body>
</html> 